
/* .img-container {
  display: grid;
  height: 100%;
} */

.img-container {
  background-size: 100%;
  background-image: url("mazda3");
  min-height: 100vh;
  background-repeat: no-repeat;
}

.car-img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

